body {
  width: 350px;
  border: 0.5px dotted #FF4301;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FF4301 !important;
}

.img{
  margin: 10px;
}

#wrapper {
  width: 60%;     /* specify a width! */
  margin: 0 auto; /* center */
}
